{% extends 'base.html.twig' %}

{% block title %}Equipe {{ team.title }}{% endblock %}

{% block body %}

<div class="container">
  
    {% for projectStatus in projectStatuses %}
    <div class="row">
        <div class="col-sm">
            <div class="h1">
              {{ projectStatus.title }}
            </div>
        </div>
    </div>
    {% for project in projectStatus.projects %}
    <div class="row">
        <li>
            <a href="{{ path('project_show', {'id': project.id}) }}">{{ project.title }}</a> ({{ project.description }}) <a href="{{ path('project_edit', {'id': project.id}) }}"><i class="fas fa-edit"></i></a>
        </li>
    </div>
    {% endfor %}
    {% else %}
        <div class="col-sm">
            Les etapes de projet n'ont pas été definis. <a href="{{ path('project_status_new') }}">Definir les etapes</a>.
        </div>
    
    {% endfor %}
  <a href="{{ path('project_new') }}">Ajouter un projet</a>
</div>
{% endblock %}
