{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    <h1>{{ project.title }}</h1>
    {% for task in project.tasks %}
        <li>
            {{ task.title }}: 
            <select id="cars" name="cars">
                <option value="{{task.taskStatus }}" selected>{{task.taskStatus }}</option>
                <option value="saab">Saab</option>
                <option value="fiat">Fiat</option>
                <option value="audi">Audi</option>
            </select>
        </li>
    {% endfor %}
    <a href="{{ path('project_index') }}">back to list</a>

    <a href="{{ path('project_edit', {'id': project.id}) }}">edit</a>
    <p><a href="{{ path('task_new') }}">New task</a></p>

    <form action="{{ path('project_put_description', {'id': project.id}) }}" method="put" class="form-example" id="axios-form--test">
        <div class="form-example">
            <label for="description">Description: </label>
            <textarea type="text" name="description" id="description" required>{{ project.description }}</textarea>
        </div>
        <div class="form-example">
            <input type="submit" value="Update!">
        </div>
    </form>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/projectForm.js') }}"></script>
{% endblock %}